
/*FONTS*/

@font-face {
    font-family: MyRiad;
    src: url('../fonts/MyriadPro-Cond.otf');
}

@font-face {
    font-family: Reklame-Script;
    src: url('../fonts/ReklameScript-RegularDEMO.otf');
}

body{
	background-color:  #F4F4F4;
	font-family: MyRiad;
	font-size: 19px;
	color: #fff;
}

.navbar{
	margin-bottom: 0;
}

#top01{
	height: 15px;
	background:#FCAF17;
}
#top02{
	background: #F15922;
}
#top03-lista{
	font-family: MyRiad;
}

#top03-lista > ul > li {
	padding: 15px;
}

#top03-lista > ul > li > a{
	text-decoration: none;
	color: #fff;
	font-size: 22px;
}

#top03-lista > ul {
    margin-top: 20px;
}

/*Pos-TOP*/

.pos-top{
	margin-top:0.7%;
	background: #F0E7D6;
	height: 100%;
	top:10px;
	font-family: Reklame-Script;
}

#off_15{
/*	position: relative;
	left: 30%;*/
	width: 31%;
	margin: 0 auto;
	margin-top: 10%;
	padding-bottom: 10px;
}

.Reklame-font {
	font-size: 40px;
	text-align: center;
}

.input-class{

	width: 38%;
	border-radius: 5px;
	margin-left: 23%;
}

.col-input{
	padding-bottom: 1%;
	left: 19%;
}


.btn-custom{
	background: #F15922;
	color:#fff;
	margin-left: 20%;
	font-size: 15px;
	border-radius: 8px;
	letter-spacing: 1px;
}

#btn-cadastrar{
	margin-left: 0;
    margin-bottom: 1%;
}

#promocao{
	text-align: center;
    font-size: 19px;
    padding-top: 16px;
    padding-bottom: 13px;
    color: #F15922;
    letter-spacing: 1px;
    font-family: myRiad;
    margin-right: 22%;
}

.config-border{
	padding-bottom: 3%;
    padding-top: 1.4%;
    padding-left: 2%;
}

.borda{
	border : 2px dashed #F15922;
	border-right: none;
}

#vouncher{
	background:#F16D3D;
	height: 469px;
	/* width: 56%; */
	position: relative;
}


#firola{
	
}
#firola2{
	
}

#vouncher-p1{
	color: #fff;
	font-size: 4.5em;
}


#vouncher-p2{
	color: #fff;
	font-size: 1.8em;
	font-family: MyRiad;
	letter-spacing: 1px;
	padding-right: 10%;
	line-height: 22px;
}
.pull-down{
	position: relative;
	top: 100px;
	margin: 0 auto;
	left: 12%;
}

.vouncher-input{
	top:126px;
}

#vouncher-input{
	margin : 0 auto;
	width: 73%;
	background: #F15922;
	border:none;
	font-family: myRiad;
	color:#fff;
	font-size: 19px;
	text-align: center;
}



#input-email{
	display: inline;
}

#black-bar{
	width: 100%;
}

#pos-carousel{
	height: 100%;
	background-color: #F38761;
}

#pos-carousel > .row > .col-md-12 > p{
	
	font-family: MyRiad;
	color: #fff;
	font-size: 29px;
	text-align: center;
}

#circle-content{
	width: 88%;
    margin-left: 6%;
}

.circle-content-list{
	text-align: center;
    font-size: 29px;
    color: #fff;
    font-family: MyRiad;
}


}

#blinkmeclub{
	margin-left: 17%;
    width: 33%;
    margin-top: 7%;
}

#circle_thumb{
	margin-left: 64%;
    width: 64%;
    margin-top: 10%;
}

#circle_desc{
	margin-left: 13%;
    margin-top: 12%;
    color: #969698;
}

#circle_desc_2{
	color: #969698;
	margin-left: 21%;
    margin-top: 5%;
}

.vantagens{
	font-weight: bold;
	font-size: 14px;
	margin-top: 7.7%;
}

.ph{
	margin-top: 4%;
}
.ph > p{
	font-size: 19px;
	margin-left: 13%;
	color: #000;
}

.lista-vertical > dt{
	text-align: left;
	width: 4%;
	margin: 0;
}
.lista-vertical > dd{
	text-align: left;
	margin-left: 0;
}

.circle-img{
	width: 100%;
}

#circle-cosmetics{
	margin-left: 14%;
}

#circle-atelier{
	margin-left: 2%;
}

#circle-lab{
	margin-left: -13%;
}

#circle-studio{
	margin-left: -22%;
}

.circle-content-p{
	font-family: myRiad;
	font-size: 24px;
	color:#fff;
	text-align: center;
}

.footer{
	background-color: #ED4810;
}

#logo-footer {
    width: 53%;
    margin: 0 auto;
}

.footer-p {
	margin-top: 10%;
}

#endereco{
	line-height: 0px;
}

#google-play{
	width: 70%;
}

#ios-store{
	width: 70%;
	margin-left: -26%;
}

.banner_2{
	background-image: url('../img/banner_2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 507px;;
}

.morumbi-town > p{
	text-align: center;
}

#col-cosmetics{
	margin-left: 14%;
}

#col-atelier{
	margin-left: 2%;
}

#col-lab{
	margin-left: -13%;
}

#col-studio{
	margin-left: -22%;
}

