/*FONTS*/

@font-face {
    font-family: MyRiad;
    src: url('../fonts/MyriadPro-Cond.otf');
}

@font-face {
    font-family: Reklame-Script;
    src: url('../fonts/ReklameScript-RegularDEMO.otf');
}

body{
	font-size: 19px;
}

.topo-01{
	background:#FCAF17;
	height: 3vh;
}

.menu-desktop{
	background:#F15922;
	font-family: MyRiad;
}

.list-inline > li > a {
	color:#fff;
	font-size : 22px;
	padding : 1.5vh;
	
}

#lista-menu{
	position: relative;
	top: 2.6vmin;
	top: 3vmax;
}

.list-inline > li > a:hover {
	border-bottom:none;
}

#off_15{
	width: 15vmax;
}

.img-center{
	margin: 0 auto;
}

.content1{
	background: #F0E7D6;
	position: relative;
	height: 40vmax;
	top: 1.2vmax;
}

#content1_part1{
	padding-top: 8vmax;
}

#momentum{
	font-family: Reklame-Script;
	text-align: center;
	padding-top: 1.4vmax;
	font-size: 40px;
}

#cadastrar{
	/*margin-top: 0.5vmax;*/
	position : relative;
	top: 0.5vmax;
	right: 3.7vmax;
}

#p_promo{
	color: #F15922;
	font-family: MyRiad;
	font-size: 1em;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 3.6vmax;
	margin-right: calc(100% - 83%);
}

.btn-custom{
	background : #F15922;
	font-size: 15px;
	border-radius: 8px;
	letter-spacing: 1px;
	color: #fff;
}

.input-class{
	font-family: MyRiad;
	letter-spacing: 1px;
	font-size: 19px;
	width:15vmax;
	/*margin-left: calc(100% - 423px);*/
}

#form-nome{
	margin-left: calc(100% - 77.5%);
}

#form-email{
	margin-top: 0.5vmax;
	margin-left: calc(100% - 65.3%);
}

